{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% set blueMediaGooglePayPayment = isBlueMediaGooglePayPayment(context.paymentMethod) %}

{% block page_checkout_main_content %}
    {% if blueMediaCardPaymentAvailable(context) %}
        {% if config('BlueMediaShopwarePayment.config.testMode') %}
            <script src="https://testcards.autopay.eu/integration/checkout.js"></script>
        {% else %}
            <script src="https://cards.autopay.eu/integration/checkout.js"></script>
        {% endif %}
    {% endif %}

    {% if blueMediaGooglePayPayment %}
        <script src="https://pay.google.com/gp/p/js/pay.js"></script>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block page_checkout_aside_actions %}
    {% set blueMediaCardPayment = checkoutWithBlueMediaCardPayment(context) %}
    <div class="checkout-aside-action">
        <form id="confirmOrderForm"
              {% if blueMediaCardPayment %}
                  data-autopay-card-payment="true"
              {% elseif blueMediaGooglePayPayment %}
                  {% set languageIsoCode = page.header.activeLanguage.translationCode.code|split('-') %}
                  {% set autopayGooglePayOptions = {
                      environment : config('BlueMediaShopwarePayment.config.testMode') ? 'TEST' : 'PRODUCTION',
                      transactionCurrencyCode: context.currency.isoCode,
                      transactionCountryCode: languageIsoCode[1]|upper,
                      transactionAmount: page.cart.price.totalPrice,
                      bmInitRequest: {
                          path: path('payment.blue-payment.checkout.google-pay'),
                          token: sw_csrf('payment.blue-payment.checkout.google-pay', {'mode': 'token'}),
                      },
                  } %}
                  data-autopay-google-pay-payment="true"
                  data-blue-media-google-pay-payment-options='{{ autopayGooglePayOptions|json_encode }}'
              {% endif %}
                  action="{{ path('frontend.checkout.finish.order') }}"
                  data-form-csrf-handler="true"
                  data-form-preserver="true"
                  data-form-submit-loader="true"
                  method="post">

            {% block page_checkout_aside_actions_csrf %}
                {% if blueMediaCardPayment %}
                    {{ sw_csrf('payment.blue-payment.checkout.card') }}
                {% else %}
                    {{ sw_csrf('frontend.checkout.finish.order') }}
                {% endif %}
                {% if blueMediaGooglePayPayment %}
                    <input id="autopay-google-payment-token"
                           name="{{ constant('BlueMedia\\ShopwarePayment\\PaymentHandler\\GooglePayPaymentHandler::REQUEST_PARAM') }}"
                           type="hidden"
                           form="confirmOrderForm"
                           value=""
                    >
                {% endif %}
            {% endblock %}

            {% block page_checkout_confirm_form_submit %}
                {{ parent() }}
            {% endblock %}
        </form>
    </div>
    {% if isBlueMediaApplePayPayment(context.paymentMethod) or isBlueMediaApplePayGatewaySelected(context) %}
        <input type="text"
               name="{{ constant('BlueMedia\\ShopwarePayment\\Validator\\Constraints\\ApplePaySupported::REQUEST_PARAM') }}"
               form="confirmOrderForm"
               value="1" {# valid by default #}
               data-autopay-apple-pay-validation-field="true"
        />
    {% endif %}
{% endblock %}